html {
  font-size: 62.5%;
}

body {
  background-color: pink;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 1000px;
}

p {
  font-size: 1.8rem;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
.swiper-container {
  height: 100%;
}

.swiper-slide {
  height: 100%;
  max-width: 293px;
  background-color: #fff;
}
